@model IEnumerable<DeliciaSoft.Models.ProductoCompra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post" asp-action="AgregarSeleccionados">
    <!-- Ajusta el método si necesitas -->
    <table class="table">
        <thead>
            <tr>
                <th></th> <!-- Checkbox column -->
                <th>@Html.DisplayNameFor(model => model.NombreProducto)</th>
                <th>@Html.DisplayNameFor(model => model.UnidadMedida)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="productosSeleccionados" value="@item.IdProducto" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnidadMedida)</td>
                    @* <td>
                        <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>

 <button type="button" class="btn btn-primary" onclick="agregarProductos()">Agregar insumo seleccionado</button>



</form>
